{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<img></img>
{% endblock %}

{% block contenido_principal %}

¡Bienvenidos a mi rincón digital, exploradores y amantes de la comida vibrante! Soy Stefanie Rodriguez, una apasionada viajera y entusiasta de la gastronomía vegana. Con 33 años de experiencia en este hermoso viaje llamado vida, actualmente estoy inmersa en la emocionante travesía de la carrera de Full Stack en Coder House, donde estoy perfeccionando mis habilidades en el fascinante mundo de la programación.<br><br>

Este blog es mucho más que una ventana a mis experiencias; es un espacio colaborativo donde la comunidad se une para compartir las maravillas descubiertas en viajes alrededor del mundo y deliciosas recetas veganas. Desde las calles animadas de ciudades exóticas hasta los rincones más tranquilos de la naturaleza, aquí encontrarás relatos que te transportarán a lugares lejanos y te inspirarán a planificar tu próxima aventura.<br><br>

Además, como amante de la cocina vegana, te invito a explorar conmigo el delicioso universo de la gastronomía sin ingredientes de origen animal. Este blog es un espacio abierto para la comunidad, donde no solo compartiré mis propias experiencias, sino donde tú, como parte activa de esta comunidad, también puedes contribuir. ¿Tienes alguna historia de viaje emocionante o una receta vegana que desees compartir? ¡Este es el lugar perfecto para hacerlo!<br><br>

Acompáñame en este viaje donde la tecnología y la pasión por descubrir nuevos horizontes se entrelazan, creando un espacio donde la programación y el gusto por lo vegano convergen de manera única. ¡Bienvenidos a mi blog, donde cada página es una nueva aventura por descubrir y donde tu voz tiene un espacio para ser escuchada y compartida!

{% endblock %}